.contenedor_nav {
  background-color: #000000;
}

nav {
  width: 30%;
  float: left;
  padding: 30px;
  border-radius: 40px / 40px;
}

nav ul {
  list-style-type:none;
    padding: 20px;
}

nav li {
  border: 2px solid hwb(256 8% 52%); /* Borde sólido de 2 píxeles de ancho para las opciones */
  margin-bottom: 10px;
  background-color:#07acdd;
  border-radius: 20px / 20px;
  /*padding: 10px;  Espacio interno de 10 píxeles para las opciones */
}

nav a {
  text-decoration: none;
  color:#fff; /* Color del texto */
}

nav a:hover {
  background-color: #333; /* Cambia el fondo al pasar el mouse */
  color: #fff; /* Cambia el color del texto al pasar el mouse */
}
  
  /* Estilos para la galería matriz */
  .galeria-var {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*número de columnas a 3 */
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    border-radius: 100px / 100px;
    position: relative;
  }
  
  figure {
    margin: 0;
    position:relative;
  }
  
  img {
    max-width: 100%; /* Esto asegura que las imágenes se ajusten al ancho de su contenedor */
    height:fit-content; /* Permite que la altura se ajuste proporcionalmente al ancho */
    object-fit: cover;
    transition: transform 0.3s, box-shadow 0.3s;
  }
