.contenedor {
  border: 2px solid #000; /* Borde sólido de 2 píxeles de ancho y color negro */
  padding: 20px; /* Espacio interno de 20 píxeles */
  margin: 2px; /* Margen externo de 20 píxeles para separar el contenedor de otros elementos */
  background-color: #f0f0f0; /* Color de fondo gris claro */
  border-color: #b6bdbc;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr); 
    grid-gap: 2px;
    border-radius: 100px / 100px;
    position: relative; /* posicionar el texto */
    }
  
    figure {
        margin: 0;
        position: relative;
        overflow: hidden; /* Añadir un overflow para recortar sombra */
    }
  
    img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s, box-shadow 0.3s; /* Agregar transiciones para suavizar efectos */
    }
    
    img:hover {
      transform: scale(1.05); /* Escalar la imagen en un 5% al pasar el mouse */
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Agregar sombra al pasar el mouse */
    }


    p {
        position: absolute; /* Requerido para posicionar el texto */
        top: 75%; /* Centrar verticalmente */
        left: 50%; /* Centrar horizontalmente */
        transform: translate(-50%, -50%); /* Ajustar el centro */
        color: white; /* Color del texto */
        font-size: 18px; /* Tamaño del texto */
        background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
        padding: 10px; /* Espacio alrededor del texto */
        /*visibility: hidden; /* Ocultar el texto por defecto */
        border-radius: 5px;
        opacity: 0;
        transition: opacity 0.3s;   
          }

    

    figure:hover p {
      opacity: 1;
      
    }

/* Estilos para el encabezado */
header {
    background-color: #07acdd;
    border: 2px solid #000; /* Borde sólido de 2 píxeles de ancho y color negro */
    padding: 10px;
    border-radius: 20px / 20px;
  }
  
  h1 {
    font-size: 48px;
    color: #ffffff;
    text-align: center;
  }
  h3 {
    font-size: 28px;
    color: #ffffff;
    text-align: center;
  }
  
footer {
    background-color: #047799;
    padding: 10px;
    border-radius: 20px / 20px;
  }
  
  h3 {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
  }

  