.contenedor {
  border: 2px solid #000; /* Borde sólido de 2 píxeles de ancho y color negro */
  padding: 20px; /* Espacio interno de 20 píxeles */
  margin: 20px; /* Margen externo de 20 píxeles para separar el contenedor de otros elementos */
  background-color: #f0f0f0; /* Color de fondo gris claro */
  border-color: #b6bdbc;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr); 
    grid-gap: 20px;
    border-radius: 100px / 100px;
    position: relative; /* posicionar el texto */
    }
  
    figure {
        margin: 0;
    }
  
    img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .galeria p {
        position: absolute; /* Requerido para posicionar el texto */
        top: 50%; /* Centrar verticalmente */
        left: 50%; /* Centrar horizontalmente */
        transform: translate(-50%, -50%); /* Ajustar el centro */
        color: white; /* Color del texto */
        font-size: 24px; /* Tamaño del texto */
        background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
        padding: 10px; /* Espacio alrededor del texto */
        visibility: hidden; /* Ocultar el texto por defecto */
    }

    /* Mostrar el texto cuando se pasa el cursor sobre la imagen 
    .galeria:hover p {
        visibility: visible;
    }*/

    .caballos:hover p {
        visibility: visible;
    }

/* Estilos para el encabezado */
header {
    background-color: #07acdd;
    padding: 10px;
    border-radius: 20px / 20px;
  }
  
  h1 {
    font-size: 48px;
    color: #ffffff;
    text-align: center;
  }
  h3 {
    font-size: 28px;
    color: #ffffff;
    text-align: center;
  }
  
footer {
    background-color: #047799;
    padding: 10px;
    border-radius: 20px / 20px;
  }
  
  h3 {
    font-size: 20px;
    color: #ffffff;
    text-align: center;
  }

  